<h4 class="d-flex mt-2">Gestión de reglas</h4>

<div class="container-fluid bd-highlight mb-3">
  <form #formGeneracion="ngForm">
    <div class="form-group row">
      <div class="col-sm-6">
        <label class="form-label">Soporte</label>
        <div class="">
            <input type="number" name="soporte" max="1" class="form-control" [(ngModel)]="Soporte"
            placeholder="0-1" required>
        </div>
      </div>
      
      <div class="col-sm-6">
        <label class="form-label">Confianza</label>
        <div class="">
            <input type="number" name="confianza" max="1" class="form-control" [(ngModel)]="Confianza"
            placeholder="0-1" required>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6">
        <label class="form-label">Actividad Económica</label>
        <div class="">
          <select class="form-control" name="actividad" [(ngModel)]="Actividad" [compareWith]="compareActividad">
              <option *ngFor="let act of ActividadesList" [ngValue]="act">
                  {{ act.DESCR_CORTA }}
              </option>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <label class="form-label">Estrato</label>
        <div class="">
          <select class="form-control" name="estrato" [(ngModel)]="Estrato" [compareWith]="compareEstratos">
              <option *ngFor="let estrato of EstratosList"  [ngValue]="estrato">
                  {{estrato.CodigoEstrato}}
              </option>
          </select>
        </div>
      </div>
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="generacionErrores">
      <ul class="mb-0">
        <li *ngIf="formGeneracion.controls['soporte'].errors?.required">El valor de soporte es requerido</li>
        <li *ngIf="formGeneracion.controls['confianza'].errors?.required">El valor de confianza es requerido</li>
      </ul>
    </div>

    <div class="form-group row">
      <div class="col-sm-3">
        <div class="d-flex align-items-center">
          <button (click)="generacionAutomatica( formGeneracion )" class="btn btn-success" [disabled]="generacionLoading">
            Generación automática
          </button>
          <div class="spinner-border text-success ml-2" role="status" *ngIf="generacionLoading">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
  <table class="table table-striped">
    <thead>
        <tr>
            <th>Reglas</th>
            <th>Hallazgo A</th>
            <th>Hallazgo B</th>
            <th>Descripción</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let regla of ReglasList">
            <td style="width: 35%">{{ regla.NombreRegla }}</td>
            <td style="width: 10%">{{ regla.HallazgoA }}</td>
            <td style="width: 10%">{{ regla.HallazgoB }}</td>
            <td style="width: 35%">{{ regla.Descripcion }}</td>
            <td style="width: 10%">
                <button class="btn btn-outline-primary" *ngIf="regla.Generada == 1" title="Recordar regla" (click)="generarRegla(regla, 0)">
                  <i class="fas fa-plus"></i>
                </button>
                <button class="btn btn-outline-primary" *ngIf="regla.Generada == 0" title="Olvidar regla" (click)="generarRegla(regla, 1)">
                  <i class="fas fa-minus"></i>
                </button>
                
                <button class="btn btn-outline-danger" title="Eliminar" (click)="eliminarRegla(regla)">
                  <i class="far fa-times-circle" *ngIf="!regla.eliminarLoading"></i>
                  <div class="spinner-border spinner-border-sm text-success" role="status" *ngIf="regla.eliminarLoading">
                    <span class="sr-only">Loading...</span>
                  </div>
                </button>
            </td>
        </tr>
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-end mt-3 mb-5">
  <button class="btn btn-success"
    data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
    Crear regla
  </button>

  <!-- <button class="btn btn-success ml-3">
    Borrar regla
  </button> -->
</div>
  
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear regla</h5>
        <button type="button" class="close" 
        data-dismiss="modal" aria-label="Close"
        (click)="closeCrearRegla()" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-sm-3">
              <label class="form-label">Nombre Regla</label>
            </div>
            <div class="col-sm-9">
              <div class="">
                <input type="text" class="form-control" [(ngModel)]="formRegla.Nombre"
                placeholder="Nombre Regla" required>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <label class="form-label">Hallazgo A</label>
              <div class="">
                <!-- <select class="form-control" [(ngModel)]="formRegla.HallazgoA" [compareWith]="compareHallazgos">
                    <option *ngFor="let hallazgo of HallazgosList"  [ngValue]="hallazgo">
                        {{ hallazgo.NombreAnomalias }}
                    </option>
                </select> -->

                <select class="form-control" [(ngModel)]="TipoAnomaliaA" (change)="onChangeHallazgoA()">
                  <option *ngFor="let ta of TipoAnomaliasList"  [ngValue]="ta">
                      {{ ta.TipoAnomalias }}
                  </option>
                </select>
              </div>

              <div class="mt-2" *ngIf="TipoAnomaliaA && TipoAnomaliaA.TipoAnomalias !== 'Sin Definición'">
                <select class="form-control" [(ngModel)]="formRegla.HallazgoA">
                  <option *ngFor="let a of AnomaliasAList"  [ngValue]="a">
                      {{ a.NombreAnomalias }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <label class="form-label">Hallazgo B</label>
              <div class="">
                <!-- <select class="form-control" [(ngModel)]="formRegla.HallazgoB" [compareWith]="compareHallazgos">
                    <option *ngFor="let hallazgo of HallazgosList" [ngValue]="hallazgo">
                      {{ hallazgo.NombreAnomalias }}
                    </option>
                </select> -->
                <select class="form-control" [(ngModel)]="TipoAnomaliaB" (change)="onChangeHallazgoB()">
                  <option *ngFor="let ta of TipoAnomaliasList"  [ngValue]="ta">
                      {{ ta.TipoAnomalias }}
                  </option>
                </select>
              </div>

              <div class="mt-2" *ngIf="TipoAnomaliaB && TipoAnomaliaB.TipoAnomalias !== 'Sin Definición'" [compareWith]="compareAnomalias">
                <select class="form-control" [(ngModel)]="formRegla.HallazgoB">
                  <option *ngFor="let a of AnomaliasBList"  [ngValue]="a">
                      {{ a.NombreAnomalias }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <label class="form-label">Actividad Económica</label>
              <div class="">
                <select class="form-control" [(ngModel)]="formRegla.Actividad" [compareWith]="compareActividad">
                    <option *ngFor="let act of ActividadesList" [ngValue]="act">
                        {{ act.DESCR_CORTA }}
                    </option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <label class="form-label">Estrato</label>
              <div class="">
                <select class="form-control" [(ngModel)]="formRegla.Estrato" [compareWith]="compareEstratos">
                    <option *ngFor="let estrato of EstratosList"  [ngValue]="estrato">
                        {{estrato.CodigoEstrato}}
                    </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <label class="form-label">Descripción</label>
              <div class="">
                <textarea class="form-control" name="descripcion" id="" rows="5" [(ngModel)]="formRegla.Descripcion"></textarea>
              </div>
            </div>
          </div>

          <div class="alert alert-danger mt-2" role="alert" *ngIf="crearError">
            <ul class="mb-0">
              <li>El nombre regla es requerido</li>
            </ul>
          </div>

          <div class="row mt-2">
            <div class="col-12 text-right">
              <button class="btn btn-success" #closeModal
                data-dismiss="modal" aria-label="Close"
                (click)="closeCrearRegla()">
                Cancelar
              </button>

              <button (click)="crearRegla()" class="btn btn-success ml-3">
                Crear regla
              </button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>