<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h4 class="d-flex mt-2">Gestión de Campañas</h4>
      <div class="container-fluid bd-highlight mb-3">
        <div class="form-group row">
          <div class="col-sm-6">
            <!-- <label class="form-label">Actividad Económica</label> -->
            <div class="d-flex align-items-center">
              <select class="form-control" [(ngModel)]="Campana" (change)="onChangeCampana()">
                  <option *ngFor="let campana of CampanasList" [ngValue]="campana">
                      {{ campana.NombreCapanaOrigen }}
                  </option>
              </select>
              <div class="spinner-border text-success ml-2" role="status" *ngIf="campanaLoading">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
        <table class="table table-striped">
          <thead>
              <tr>
                  <th>Puntos de consumo</th>
                  <th>Regla</th>
              </tr>
          </thead>
          <tbody>
              <!-- <tr>
                <td><a href data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">Prueba</a></td>
                <td>Regla</td>
              </tr> -->
              <tr *ngFor="let punto of PuntosList">
                  <td><a href data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false" (click)="showPreseleccion( punto )">{{ punto.CodigoPuntoConsumo }}</a></td>
                  <td>{{ punto.NombreRegla }}</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-6 pr-0" *ngIf="PuntosCampanaList.length > 0">
      <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
        <table class="table table-striped" style="min-width: 100%; width: inherit;">
          <thead>
              <tr>
                <th>Puntos de consumo</th>
                <th>Dirección</th>
                <th>Regla</th>
                <th></th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let pc of PuntosCampanaList; let i = index">
                <td style="width: 150px;">{{ pc.CodigoPuntoConsumo }}</td>
                <td style="width: 300px;">{{ pc.DireccionPuntoConsumo }}</td>
                <td style="width: 500px;">{{ pc.NombreRegla }}</td>
                <td style="width: 50px;">
                  <button class="btn btn-outline-danger" title="Eliminar" (click)="eliminarPunto(pc, i)">
                    <i class="far fa-times-circle"></i>
                  </button>
                </td>
              </tr>
          </tbody>
        </table>
      </div>

      <div class="map mt-2">
        <agm-map [latitude]="lat" [longitude]="lng" [fitBounds]="true">
          <agm-marker [latitude]="p.LatitudPuntoConsumo | number" [longitude]="p.LongitudPuntoConsumo | number" *ngFor="let p of PuntosCampanaList" [agmFitBounds]="true"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Punto Consumo</h5>
        <button type="button" class="close" 
        data-dismiss="modal" aria-label="Close"
        (click)="closePuntosModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-puntocomsumo *ngIf="PuntoPre" [punto]="PuntoPre"></app-puntocomsumo>
        <div class="row mt-2">
          <div class="col-12 justify-content-end form-inline">
            <select class="form-control" [(ngModel)]="CampanaAgregar">
              <option *ngFor="let campana of CampanasList" [ngValue]="campana">
                  {{ campana.NombreCapanaOrigen }}
              </option>
          </select>
      
            <button class="btn btn-success ml-2" data-dismiss="modal" aria-label="Close" (click)="agregarACampana()">
              Agregar a Campaña
            </button>
      
            <button class="btn btn-success ml-2"
              data-dismiss="modal" aria-label="Close" (click)="closePuntosModal()">
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
