<h4 class="d-flex mt-2">Explorar Puntos de Consumo</h4>

<div class="container-fluid bd-highlight mb-3">
  <div class="form-group row">
    <div class="col-sm-6">
      <!-- <label class="form-label">Actividad Económica</label> -->
      <div class="d-flex align-items-center">
        <select class="form-control" [(ngModel)]="Regla" [compareWith]="compareRegla" (change)="onChangeRegla()">
            <option *ngFor="let regla of ReglasList" [ngValue]="regla">
                {{ regla.NombreRegla }}
            </option>
        </select>
        <div class="spinner-border text-success ml-2" role="status" *ngIf="reglaLoading">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
  <table class="table table-striped">
    <thead>
        <tr>
            <th>Punto Consumo</th>
            <th>Descripción</th>
            <th>Seleccionar todos
              <input type="checkbox" name="todos" [(ngModel)]="todosSeleccionados" (change)="seleccionarTodos()"/>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let puntos of PuntosList">
            <td><a href data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false" (click)="showPreseleccion( puntos )">{{ puntos.CodigoPuntoConsumo }}</a></td>
            <td>{{ puntos.DireccionPuntoConsumo }}</td>
            <td>
              <input type="checkbox" name="seleccionado" [(ngModel)]="puntos.seleccionado"/>
            </td>
        </tr>
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-end mt-3 mb-5">
  <!-- data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false" -->
  <button class="btn btn-success"
    (click)="enviarRuta()">
    Enviar a Ruta
  </button>
</div>
  
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Punto Consumo</h5>
        <button type="button" class="close" 
        data-dismiss="modal" aria-label="Close"
        (click)="closePuntosModal()" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-puntocomsumo [punto]="PuntoPre" *ngIf="PuntoPre"></app-puntocomsumo>
        <div class="row mt-2">
          <div class="col-12 justify-content-end form-inline">
            <div class="d-flex align-items-center">
              <button class="btn btn-success ml-2"
                data-dismiss="modal" aria-label="Close" (click)="closePuntosModal()" [disabled]="enviarLoading">
                Cancelar
              </button>
              <div class="spinner-border text-success ml-2" role="status" *ngIf="enviarLoading">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>