<div class="container">

    <!-- <h3 class="d-flex justify-content-center">Angular 10, Web API, SQL Server App Demo </h3> -->
    <h5 class="d-flex justify-content-center">Smart Recovery Motor de Reglas</h5>

    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
        <!-- <li class="nav-item">
            <button routerLink="department"
            class="m-1 btn btn-light btn-outline-primary" Button>Departments</button>
        </li> -->

        <!-- <li class="nav-item">
            <button routerLink="employee"
            class="m-1 btn btn-light btn-outline-primary" Button>Employees</button>
        </li> -->

        <li class="nav-item">
          <button routerLink="reglas"
          class="m-1 btn btn-light btn-outline-primary" Button>Reglas</button>
        </li>

        <li class="nav-item">
          <button routerLink="rutas"
          class="m-1 btn btn-light btn-outline-primary" Button>Rutas</button>
        </li>

        <li class="nav-item">
          <button routerLink="campanas"
          class="m-1 btn btn-light btn-outline-primary" Button>Campañas</button>
      </li>
    </ul>
    </nav>

<router-outlet></router-outlet>

</div>