<div class="container-fluid" *ngIf="infoCodigo.length > 0">
  <div class="row">
    <div class="col-sm-6">
      <p><b>Dirección:</b> {{ puntoConsumo.direccion }}</p>
      <p><b>Actividad Económica:</b> {{ puntoConsumo.direccion }} </p>
      <p><b>Estrato:</b> {{ puntoConsumo.estrato }}</p>
    </div>
    <div class="col-sm-6" *ngIf="puntoConsumo.imagen">
      <img [src]="'data:image/jpg;base64,' + puntoConsumo.imagen"/>
    </div>
  </div>
  <div>
    <p class="font-weight-bold">Consumo y Variación últimos periodos</p>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="font-weight-bold">Periodo</td>
            <td *ngFor="let c of infoCodigo;">{{ c.Periodo }}</td>
          </tr>
          <tr>
            <td class="font-weight-bold">Consumo Normalizado Activa CN</td>
            <td *ngFor="let c of infoCodigo;">{{ c.ConsumoNormalizadoActivaCN }}</td>
          </tr>
          <tr>
            <td class="font-weight-bold">Pearson6m</td>
            <td *ngFor="let c of infoCodigo;">{{ c.Pearson6m }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="infoCodigo.length <= 0">
  <h2 *ngIf="!isLoading" class="text-center">No hay información disponible</h2>
  <div class="d-flex justify-content-center" *ngIf="isLoading">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
